/* ======================================= control btn ======================================= 
 * @description: 控制按钮
*/

.control-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	width: calc(1.5em + 3px);
	height: calc(1.5em + 3px);
	text-align: center;
	border-radius: 0.25em;
	background-color: rgba(129, 129, 129, 0.3);
	backdrop-filter: blur(5px);
	z-index: 1000;
	cursor: pointer;
	transition: all 0.2s ease;
}

.control-btn.btn-lg {
	font-size: 32px;
}
.control-btn.btn-sm {
	font-size: 16px;
}

.control-btn:hover {
	background-color: var(--light-blue-color);
	color: var(--light-bg-color);
}

.hide-wrap.pos-right {
	transform: translateX(101%);
}
.hide-wrap.pos-left {
	transform: translateX(-101%);
}
.hide-wrap.pos-top {
	transform: translateY(-101%);
}
.hide-wrap.pos-bottom {
	transform: translateY(101%);
}

/* ======================================= hide wrap ======================================= 
 * @description: 控制该类进行边界隐藏，通过鼠标移入该元素或者wrap-toggle-btn显示该元素
 * 通过pos-top/bottom/right/left 控制方向
*/
.hide-wrap:hover {
	transform: translate(0, 0);
}

.hide-wrap .wrap-toggle-btn {
	position: absolute;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	background-color: #fff8;
	box-shadow: 0 0 3px #0003;
	cursor: pointer;
	opacity: 0.75;
	transition: all 0.2s ease;
}

.hide-wrap.pos-left .wrap-toggle-btn,
.hide-wrap.pos-right .wrap-toggle-btn {
	top: 50%;
	transform: translateY(-50%);
	width: 1rem;
	height: 20%;
	min-height: 2rem;
	max-height: 5rem;
}

.hide-wrap.pos-top .wrap-toggle-btn,
.hide-wrap.pos-bottom .wrap-toggle-btn {
	left: 50%;
	transform: translateX(-50%);
	height: 1rem;
	width: 20%;
	min-width: 2rem;
	max-width: 5rem;
}

.hide-wrap.pos-left .wrap-toggle-btn {
	right: -1rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.hide-wrap.pos-right .wrap-toggle-btn {
	left: -1rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.hide-wrap.pos-top .wrap-toggle-btn,
.hide-wrap.pos-bottom .wrap-toggle-btn {
	left: 50%;
	transform: translateX(-50%);
}

.hide-wrap.pos-bottom .wrap-toggle-btn {
	top: -1rem;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.hide-wrap.pos-top .wrap-toggle-btn {
	bottom: -1rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* ======================================= 淡入淡出动画 ======================================= 
 * @description: 初始为通过设置visibility隐藏元素，通过为该类添加.show类进行展示
*/
.fade-hide-show {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.fade-hide-show.show {
	visibility: visible;
	opacity: 1;
}

/* ======================================= 控制按钮 ======================================= 
 * @description: 相对定位的按钮wrap，所有的按钮为button
*/

.control-btn-wrap {
	display: -ms-flexbox;
    display: flex;
    flex: none;
    gap: .5rem;
    height: auto;
	width: fit-content;
    margin-left: auto;
	place-content: flex-end;
    align-items: center;
    font-size: 20px;
}

.control-btn-wrap button {
	padding: 0.125rem;
	color: #000;
	background-color: #fff8;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 0.25rem;
	opacity: 0.5;
}

.control-btn-wrap button:hover {
	opacity: 1;
}

.control-btn-wrap button.fa {
	font-weight: 100;
}

/* ======================================= 拟态input和btn ======================================= 
 * @description: 
*/
.soft-input {
	padding: 0.375em 0.75em;
	height: calc(1.5em + 0.75em + 2px);
	border-radius: 0.5em;
	border: 2px solid transparent;
	box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.75),
		-2px -2px 12px rgba(255, 255, 255, 0.5),
		inset 2px 2px 4px rgba(255, 255, 255, 0.1),
		2px 2px 8px rgba(0, 0, 0, 0.15);
}

.soft-input:focus,
.soft-input:not(:placeholder-shown) {
	border-color: transparent;
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.75),
		inset -2px -2px 12px rgba(255, 255, 255, 0.5),
		inset 2px 2px 4px rgba(255, 255, 255, 0.1),
		inset 2px 2px 6px rgba(0, 0, 0, 0.15);
}

.soft-btn {
	border: 2px solid transparent;
	box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.75),
		-2px -2px 12px rgba(255, 255, 255, 0.5),
		inset 2px 2px 4px rgba(255, 255, 255, 0.1),
		2px 2px 8px rgba(0, 0, 0, 0.15);
	transition: all .3s ease;
}

.soft-btn:hover {
	border-color: transparent;
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.75),
		inset -2px -2px 12px rgba(255, 255, 255, 0.5),
		inset 2px 2px 4px rgba(255, 255, 255, 0.1),
		inset 2px 2px 6px rgba(0, 0, 0, 0.15);
}


/* ======================================= flex wrap ======================================= 
 * @description: flex wrap > wrap-header + wrap-content
*/

.flex-wrap {
	position: relative;
	display: flex;
	flex-flow: column wrap;
	border-radius: 0.25rem;
}

.flex-wrap .wrap-header {
	padding: 0.25em;
}

.flex-wrap .wrap-header .wrap-title {
	font-size: 1.3em;
	font-weight: bold;
}

/* =======================================  ======================================= 
 * @description: 
*/