:root {
	--font-family: "HarmonyOSHans", "PingFang SC", "HarmonyOS Sans Regular",
		Helvetica Neue, Microsoft YaHei, sans-serif;
	--light-bg-color: #f1f3f5;
	--light-blue-color: #0a59f7;
	--color-grey: #dadada;
	--color-green: #5BE7C4;
	--color-blue: #0a59f7;
	--color-ocean-blue: #324ab2;
	--color-cyan: #46b1e3;
	--color-orange: #ed6f21;
	--color-yellow: #f7ce00;
	--color-red: #e84826;
	--color-purple: #564af7;
	--screen-font-size: 12px;
	--side-nav-ftsz: 18px;
	--side-nav-wth: 140px;
	--top-navbar-ht: 60px;
	--topnav-search-input-wd: 15em;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	position: absolute;
	top: 0;
	right: 0;
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(211, 211, 211);
	border-radius: 2em;
}

::-webkit-scrollbar-track {
	background-color: #fff5;
	border-radius: 2em;
}

html {
	font-size: 14px;
}

body {
	min-height: 100vh;
	font-family: "HarmonyOSHans", "PingFang SC", "HarmonyOS Sans Regular",
		Helvetica Neue, Microsoft YaHei, sans-serif;
	background-color: var(--light-bg-color);
}

a {
	font-style: unset;
	text-decoration: none;
}

input,
button {
	border: none;
	outline: none;
}

code {
	display: inline-block;
	padding: 2px 0.25em;
	margin: 0 2px;
	background-color: #333;
	color: #fff;
	font-family: consolas;
	border-radius: 4px;
}

input[type=number] {
	border: 1px solid #ced4da;
	padding: 0.125em 0 0.125em 0.5em;
	border-radius: 0.25em;
	letter-spacing: 0.05em;
}