:root {
	--font-family: "HarmonyOSHans", "PingFang SC", "HarmonyOS Sans Regular",
		Helvetica Neue, Microsoft YaHei, sans-serif;
	--light-bg-color: #f1f3f5;
	--light-blue-color: #0a59f7;
	--screen-font-size: 12px;
	--side-nav-ftsz: 18px;
	--side-nav-wth: 140px;
	--top-navbar-ht: 60px;
	--topnav-search-input-wd: 15em;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	position: absolute;
	top: 0;
	right: 0;
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(126, 126, 126);
	border-radius: 2em;
}

::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 2em;
}

body {
	min-height: 100vh;
	font-family: "HarmonyOSHans", "PingFang SC", "HarmonyOS Sans Regular",
		Helvetica Neue, Microsoft YaHei, sans-serif;
	background-color: var(--light-bg-color);
}

a {
	font-style: unset;
	text-decoration: none;
}

input,
button {
	border: none;
	outline: none;
}

code {
	display: inline-block;
	padding: 2px 0.25em;
	margin: 0 2px;
	background-color: #333;
	color: #fff;
	font-family: consolas;
	border-radius: 4px;
}
