* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: "HarmonyOSHans", "PingFang SC", "HarmonyOS Sans Regular",
		Helvetica Neue, Microsoft YaHei, sans-serif;
	background-color: var(--light-bg-color);
}

a {
	font-style: unset;
	text-decoration: none;
}

input,
button {
	border: none;
	outline: none;
}
:root {
	--light-bg-color: #f1f3f5;
	--light-blue-color: #0a59f7;
}

/*================================== main css ==================================*/

.container {
	min-height: 200vh;
}

:root {
	--side-nav-ftsz: 18px;
	--side-nav-wth: 140px;
}

.side-nav-wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: var(--side-nav-wth);
	padding: 0.25em;
	background-color: #ddd;
	transition: all 0.3s ease;
	overflow: hidden;
	z-index: 999;
	animation: hide2show 0.3s ease 0s backwards;

	padding-top: 2.5em;
}

#toggle-side-nav-icon-btn {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	font-size: 20px;
	cursor: pointer;
}

#toggle-side-nav-btn {
	position: fixed;
	font-size: 20px;
	left: 32px;
	bottom: 32px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border-radius: 0.25em;
	background-color: rgba(129, 129, 129, 0.3);
	backdrop-filter: blur(5px);
	display: none;
	z-index: 1000;
	cursor: pointer;
}

.side-nav-wrap.icon {
	width: calc(2.5 * var(--side-nav-ftsz));
	/* --new-sub-nav-wdh: calc(2.5 * var(--side-nav-ftsz)); */
}

.side-nav-wrap.icon:root {
	--side-nav-wth: calc(2.5 * var(--side-nav-ftsz));
}

.side-nav-wrap.icon ~ main {
	/* margin-left: calc(2.5 * var(--side-nav-ftsz)); */
	margin-left: var(--side-nav-wth);
}

.side-nav-wrap.icon .side-nav-list span {
	display: none;
}

.side-nav-wrap .side-nav-list {
	display: flex;
	flex-flow: column wrap;
	font-size: var(--side-nav-ftsz);
	gap: 5px;
}

.side-nav-wrap .side-nav-list.icon-nav-list i {
	display: inline-flex;
	justify-content: center;
	font-size: 1.3em;
	flex: none;
	width: 1.5em;
}

.side-nav-wrap .side-nav-list .nav-item span {
	display: inline-block;
	padding: 0 0.5em;
	word-wrap: break-word; /* 在单词之间换行 */
	overflow-wrap: break-word; /* 支持非英文字符的换行 */
	white-space: normal;
}

.side-nav-wrap .side-nav-list .nav-item {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 2em;
	cursor: pointer;
	border-radius: 0.5em;
	transition: all 0.3s ease;
}

.side-nav-wrap .side-nav-list .nav-item:hover,
.side-nav-wrap .side-nav-list .nav-item.active {
	background-color: var(--light-bg-color);
	color: var(--light-blue-color);
}

@media screen and (max-width: 640px) {
	:root {
		--side-nav-ftsz: 14px;
		--side-nav-wth: 0px;
	}
	.side-nav-wrap {
		width: auto;
		display: none;
	}
	.side-nav-wrap.show {
		display: block;
	}
	#toggle-side-nav-btn {
		display: inline-block;
	}
}

main {
	margin: 0 var(--side-nav-wth);
	padding: 1.5rem;
	transition: all 0.3s ease;
}
ul {
	list-style: auto;
}

code {
	display: inline-block;
	padding: 2px 0.25em;
	margin: 0 2px;
	background-color: #333;
	color: #fff;
	font-family: consolas;
	border-radius: 4px;
}
