.modal-fluid .modal-dialog {
	width: fit-content;
	max-width: calc(100% - 0rem);
}

.modal-fullscreen .modal-dialog {
	max-width: calc(100% - 0rem);
	width: 100%;
}

.modal-fullscreen .modal-dialog .modal-content {
	height: 100%;
}