* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: "HarmonyOSHans", "PingFang SC", "HarmonyOS Sans Regular",
		Helvetica Neue, Microsoft YaHei, sans-serif;
	background-color: var(--light-bg-color);
}

a {
	font-style: unset;
	text-decoration: none;
}

input,
button {
	border: none;
	outline: none;
}
:root {
	--light-bg-color: #f1f3f5;
	--light-blue-color: #0a59f7;
	--side-nav-ftsz: 18px;
	--side-nav-wth: 140px;
	--top-navbar-ht: 60px;
	--topnav-search-input-wd: 15em;
}

code {
	display: inline-block;
	padding: 2px 0.25em;
	margin: 0 2px;
	background-color: #333;
	color: #fff;
	font-family: consolas;
	border-radius: 4px;
}

/*================================== main css ==================================*/

.container {
	padding-top: 2rem;
}

.pagination {
	gap: 0.25rem;
	flex-wrap: wrap;
}

.pagination .page-item {
	width: fit-content;
	height: fit-content;
	box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.4),
		0px 0px 3px rgba(0, 0, 0, 0.3);
	border-radius: 0.3rem;
	transition: all .2s ease;
}

.pagination .page-jump-wrap {
	height: 2rem;
	display: flex;
	justify-items: center;
	align-items: center;
	padding: 0 0.25rem;
	background-color: #fff;
}

.pagination .page-jump-wrap input, 
.pagination .page-jump-wrap button{
	flex: none;
	border-radius: 0.25rem;
	font-size: 0.9rem;
	user-select: none;
}

.pagination .page-jump-wrap input {
	width: 2.5rem;
	padding: 0.2rem 0.25rem;
	height: 1.5rem;
	background-color: var(--light-bg-color);
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.pagination .page-jump-wrap button{
	padding: 0 0.5rem;
	height: 1.5rem;
	background-color: var(--light-blue-color);
	color: var(--light-bg-color);
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}