@keyframes hide2show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes jump {
  0% {
    transform: translateY(0.25em);
  }
  50% {
    transform: translateY(-0.25em);
  }
  100% {
    transform: translateY(0);
  }
}