.container-fluid {
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 1rem;
	flex-flow: row wrap;
}

.box {
	position: relative;
	width: 420px;
	height: 280px;
	background-color: #0007;
}

.box:nth-child(1) {
	background: url(https://images.alphacoders.com/131/1310342.jpg) center center / cover no-repeat;
}
.box:nth-child(2) {
	background: url(https://images.alphacoders.com/131/1310687.jpeg) center center / cover no-repeat;
}
.box:nth-child(3) {
	background: url(https://images3.alphacoders.com/131/1310701.jpg) center center / cover no-repeat;
}
.box:nth-child(4) {
	background: url(https://images3.alphacoders.com/130/1309917.jpg) center center / cover no-repeat;
}

.kit-box-wrap {
	position: relative;
	max-width: 100%;
	max-height: 100%;
	padding: 0.25rem 0.35rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
	flex-shrink: 0;
}

.kit-box-wrap:not(.no-shadow) {
	gap: 0.4rem;
}

.kit-box-wrap.pos-abs {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
}

.kit-box-wrap[vertical] {
	flex-flow: column wrap-reverse;
	align-content: end;
}

.kit-box-wrap .kit-item {
	width: 1.4em;
	height: 1.4em;
	border-radius: 0.3em;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.1s ease;
	cursor: pointer;
	user-select: none;
}

.kit-box-wrap:not(.no-shadow) .kit-item {
	width: 1.5em;
	height: 1.5em;
	background-color: #fffa;
	backdrop-filter: blur(1px);
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.kit-box-wrap .kit-item.text-kit {
	width: auto;
	padding: 0 0.5em;
}

.kit-box-wrap:not(.no-shadow) .kit-item:hover {
	background-color: var(--light-blue-color);
	color: var(--light-bg-color);
	z-index: 999;
}

.kit-box-wrap.no-shadow .kit-item:hover {
	color: var(--color-blue);
	z-index: 999;
}